*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
}

.logo-container, .nav-links, .search, .cart{
    display: flex;
    
}

.logo-container{
    background-color: brown;
    justify-content: center;
    flex: 1;
}

.logo{
    font-weight: 500;
}

.top-nav{
    flex: 3;
}

.nav-links{
    background-color: chartreuse;
    justify-content: space-around;
    list-style: none;
}
.nav-link{
    text-decoration: none;
}

.search{
    background-color:rgb(240, 224, 76);
    height: 70%;
    flex: 5;
    justify-content: flex-start;
}

.search-box{
    background-color: cornflowerblue;
    border-right: 0px;
    flex-grow: 1;
    font-size: 1.1em;
    padding-left: 8px;
}

.search-box:focus{
    outline: orange;
}

.search-box-button{
    width: 45px;
    border-left: 0px;
    background: url(./Images/search_icon.svg) no-repeat center;
    background-size: 30px;
}

.cart{
    background-color: cyan;
    justify-content: center;
    flex: 1;
}
.cart img{
    width: 45px;
}
